
// NAME GRID LINE

// TOOL 3: AREA

.container {
    width: 1000px;
    margin: 30px auto;

    display: grid;
    grid-template-rows: 100px 200px 400px 100px;
    grid-template-columns: repeat(3, 1fr) 200px;
    grid-gap: 30px;
    // when we make empty space, we use "."
    grid-template-areas: "head head head ." 
                        "box1 box2 box3 side"
                        "main main main side"
                        "foot foot foot foot";     
    // Name Grid LINE with area
    // grid-template-areas: "head head head head" 
    //                      "box1 box2 box3 side"
    //                      "main main main side"
    //                      "foot foot foot foot";     

    & > * {
        background-color: orangered;
        padding: 20px;
        color: white;
        font-size: 30px;
        font-family: sans-serif;
    }

    .item {

        &--1 {
            grid-area: head;
        }

        &--2 {
            grid-area: box1
        }

        &--3 {
            grid-area: box2
        }
        
        &--4 {
            grid-area: box3    
        }

        &--5 {
            grid-area: side; 
        }
    
        &--6 {
            grid-area: main;
        }
    
        &--7 {
            grid-area: foot;
        }
    }

}





// Naming Grid Line

// Method 1: LINE NUMBERS

// Method 2: LINE NAMES

// .container {
//     width: 1000px;
//     margin: 30px auto;

//     display: grid;
//     // In the professioanl environment we usually names grind line
//     grid-template-rows: [header-start] 100px [header-end box-start] 200px [box-end main-start] 
//         400px [main-end footer-start] 100px [footer-end];
    
//     // col-start and col-end repeat 3 times with hidden 1, 2 and 3
//     grid-template-columns: repeat(3, [col-start] 1fr [col-end])200px [grid-end];
//     grid-gap: 30px;

//     & > * {
//         background-color: orangered;
//         padding: 20px;
//         color: white;
//         font-size: 30px;
//         font-family: sans-serif;
//     }

//     .item {

//         &--1 {
//             background-color: orangered;
//             // grid-column: 1 / -1;
//             grid-column: col-start 1 / grid-end;
//         }

//         // nothing to work
//         // &--2 {
//         //     background-color: orangered;
//         // }

//         // nothing to work
//         // &--3 {
//         //     background-color: orangered;
    
//         // }
//         // // nothing to work
//         // &--4 {
//         //     background-color: orangered;
    
//         // }

//         &--5 {
//             // Name the grind line
//             grid-row: box-start / main-end;
//             grid-column: col-end 3 / grid-end;
//             // grid-column: 4 / 5;
//         }
    
//         &--6 {
//             //
//             grid-column: col-start 1 / col-end 3
//             // grid-column: 1 / span 3;
//         }
    
//         &--7 {
//             grid-column: 1 / -1;
//         }
//     }
// }





// .container {
//     // Joon
//     // background-color: #eeeeee;
//     width: 1000px;

//     // <Joon>
//     // height: 93vh;
//     margin: 30px auto;

//     // <Joon>
//     // display: grid;
//     // grid-template-rows: 1fr 2fr 4fr 1fr;
//     // grid-template-columns: repeat(3, 1fr) 20%;
//     // grid-gap: 30px;

//     // instructor
//     display: grid;
//     grid-template-rows: 100px 200px 400px 100px;
//     grid-template-columns: repeat(3, 1fr) 200px;
//     grid-gap: 30px;

//     & > * {
//         background-color: orangered;
//         padding: 20px;
//         color: white;
//         font-size: 30px;
//         font-family: sans-serif;
//     }

//     .item {

//         &--1 {
//             background-color: orangered;
//             // We do not need to specify row here
//             // because it already sets up
//             // grid-row: 1 / 2;
//             grid-column: 1 / -1;
//         }

//         // nothing to work
//         // &--2 {
//         //     background-color: orangered;
//         // }

//         // nothing to work
//         // &--3 {
//         //     background-color: orangered;
    
//         // }
//         // // nothing to work
//         // &--4 {
//         //     background-color: orangered;
    
//         // }

//         &--5 {
//             grid-row: 2 / span 2;
//             grid-column: 4 / 5;
//         }
    
//         &--6 {
//             grid-column: 1 / span 3;
//         }
    
//         &--7 {
//             grid-column: 1 / -1;
//         }
//     }

// }


// <Joon>
// .item {


//     &--1 {
//         background-color: orangered;
//         grid-row: 1 / 2;
//         grid-column: 1 / -1;
//     }

//     &--2 {
//         background-color: orangered;
//     }

//     &--3 {
//         background-color: orangered;

//     }

//     &--4 {
//         background-color: orangered;

//     }

//     &--5 {
//         background-color: orangered;
//         grid-row: 2 / span 2;
//         grid-column: 4 / 5;
//     }

//     &--6 {
//         background-color: orangered;
//         grid-column: 1 / 4;
//     }

//     &--7 {
//         background-color: orangered;
//         grid-column: 1 / -1;
//     }
// }

