@import '../../Scss/base';


.header {
    background-color: $color-grey-dark-1;
    // [ IMPORTANT ]
    //  defines "6th column line in "col-start to col-end"" as a col-end
    grid-column: full-start / col-end 6;
    
    // ---- //
    background-image: linear-gradient(
        rgba($color-secondary, .93),
        rgba($color-secondary, .93)),
        url("/img/hero.jpeg");
        
    // --- // only for backgroun-image to cover the defined element size
    background-size: cover;
    // to make a picture at the center
    background-position: center;
    padding: 8rem;
    // padding-top: 4rem; // why?

    display: grid;
    // grid-template-rows: max-content repeat(3, min-content) max-content;

    // [ IMPORTANT!!!!!!!]
    // Not as long as the parent definex grid-template-rows: min-content;
    // defining a row means that it will take up the max space as much as possible!!
    //   then, the rest of the rows will take up the min space .

    // It is same as in the column
    grid-template-rows: 1fr min-content 6rem 1fr;
    grid-row-gap: 1.5rem;
    
    // [ IMPORTANT ]
    // To make a centric content on the basis of max-content!!!!
    // It makes to make a more room inside of the parent
    // just one column
    grid-template-columns: max-content;

    justify-content: center;

    &__logo {
        height: 3rem;
        justify-self: center;
    }

    .btn--header {
        align-self: start;
        justify-self: start;
    }

    &__seenon-text {
        
        align-self: end;
        font-size: 1.5rem;
        color: $color-grey-dark-2;
        
        // [IMPORTANT!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! The MOST]
        // The children inside of a html tag can be implemented on the basis of grid!!!
        display: grid;
        // grid-template-rows: repeat(3, min-content);
        grid-template-columns: 1fr max-content 1fr;
        grid-column-gap: 2rem;
        align-items: center;

        &::before,
        &::after {
            content: "";
            // must be a block / inline-block to be a grid
            display: block;
            height: 1px;
            background-color: currentColor;
        }
        
    }

    &__seenon-logos {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 3rem;
        justify-items: center;

        // 1)
        // display: flex;
        // justify-content: space-around;        
        img {
            height: 2.5rem;
            // [ IMPORTANT ]: Brightness Contronl only
            filter: brightness(70%);
        }
    }
}