@import './base';

// [ IMPORTANT ]
// making placeholder!
%heading {
    font-family: $font-display;
    font-weight: 400;         
}

// extend by using placeholder!
.head-1 {
    @extend %heading;
    font-size: 4.5rem;
    color: $color-grey-light-1;
    // it is inherited. 
    // We need to fix it when we have two lines
    line-height: 1;
}

.head-2 {
    @extend %heading;
    font-size: 4rem;
    font-style: italic;
    // because we set up line-height: 1.6 in html;
    line-height: 1;

    &--light {
        color: $color-grey-light-1;
    }

    &--dark {
        color: $color-grey-dark-1;
    }
}

.head-3 {
    @extend %heading;
    font-size: 1.6rem;
    color: $color-primary;
    text-transform: uppercase;
}

.head-4 {
    @extend %heading;
    font-size: 1.9rem;

    // modified class
    //  to make the differen colors
    &--light {
        color: $color-grey-light-1;
    }

    &--dark {
        color: $color-grey-dark-1;
    }
}

.btn {
    background-color: $color-primary;
    color: #ffffff;
    border: none;
    border-radius: 0;
    font-family: $font-display;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        background-color: $color-primary-dark;
    }
}

.mb-sm {
   margin-bottom: 2rem; 
}

.mb-md {
    margin-bottom: 3rem; 
 }

 .mb-lg {
    margin-bottom: 4rem; 
 }

 .mb-hg {
    margin-bottom: 8rem; 
 }

